{% extends 'base.html' %}

{% block extracss %}
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css"
  />
  <!-- Editor's Style -->
  <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
  <link rel="stylesheet" href="/static/css/update.css"/>
{% endblock %}

{% block script %}
  <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
  <script type="text/javascript" src="/static/js/create.js"></script>
{% endblock %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" id="post-form">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body" style="display: none">{{ request.form['body'] }}</textarea>
    <div id="editor"></div>
    <input type="submit" value="Save" class="submit-button">
  </form>
{% endblock %}