{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} {{ post['title'] }} {% endblock %}</h1>
{% endblock %}

{% block extra_css %}

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/detail.css') }}">
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/detail.js') }}"></script>
{% endblock %}

{% block content %}
  <div class="body">
  	{{ post['body'] | markdown }}
  </div>
  

  <div class="reaction" data-postid="{{post['id']}}">
  	<span class="btn like">Like(<span class="like-count">0</span>)</span>
  	<span class="btn dislike">Dislike(<span class="dislike-count">0</span>)</span>
  	{% if g.user['id'] == post['author_id'] %}
	  <a class="action edit" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
  {% endif %}
  </div>


{% endblock %}